<footer class="footer">
  <div class="footer-container container">
    <div class="footer-nav-wrapper">
      <div class="footer-logo">
        <a href="/index.html" class="footer-icon-link">
          <svg class="footer-icon" width="168" height="16">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-logo-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="footer-nav-contacts">
        <div class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-link">
              <a class="nav-link" href="#how-it-works">how it works</a>
            </li>
            <li class="footer-nav-link">
              <a class="nav-link" href="#vegetables">vegetables</a>
            </li>
            <li class="footer-nav-link">
              <a class="nav-link" href="#reviews">reviews</a>
            </li>
          </ul>
        </div>

        <address class="contacts">
          <ul class="contacts-list list">
            <li class="footer-contacts-item">
              <a class="footer-contacts-link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <a class="footer-contacts-link link" href="https://maps.app.goo.gl/znor92Fkd7oBiKRz8">
                1678 S. Pioneer Road Salt<br />
                Lake City UT 84104
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>

    <div class="footer-policy">
      <ul class="footer-policy-list">
        <li class="footer-policy-text">
          <a class="policy-text">Privacy Policy</a>
        </li>
        <li class="footer-policy-text">
          <a class="policy-text">/</a>
        </li>
        <li class="footer-policy-text">
          <a class="policy-text">Cookie settings</a>
        </li>
      </ul>
      <p class="site">&copy;Green Harvest 2023</p>
    </div>
  </div>
</footer>
