<header class="header">
  <div class="container head color-head">
    <a class="header-logo-links" href="./index.html">
      <svg class="header-links-icons" width="168" height="16">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header-navigation">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-it-works-section">
            How It Works
          </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#vegetables-section">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews-section">Reviews</a>
        </li>
      </ul>
      <a href="#your-order-section" class="header-shop-button">
        Shop now
        <svg class="shop-basket" height="24" width="24">
          <use href="/img/sprite.svg#icon-cart"></use>
        </svg>
      </a>
    </nav>

    <button
      type="button"
      id="menu-open-btn"
      aria-label="Menu open button"
      class="open-menu-btn js-open-menu"
    >
      <svg class="header-menu-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-hero-outline-menu"></use>
      </svg>
    </button>
  </div>
</header>
