<header class="header">
  <div class="container head">
    <div class="header-menu-wrap">
      <a class="header-logo-links" href="/index.html">
        <svg class="header-links-icons" width="168" height="16">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

    <nav class="header-navigation">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-it-works"> How It Works </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <a href="#your-order" class="header-shop-button" data-modal-open>
        Shop now
        <svg class="shop-basket" height="24" width="24">
          <use href="/img/sprite.svg#icon-cart"></use>
        </svg>
      </a>


      <button
        type="button"
        id="menu-open-btn"
        aria-expanded="false"
        aria-controls="mobile-menu"
        class="open-menu-btn js-open-menu"
      >
        <svg class="header-menu-icon" width="32" height="32">
          <use href="/img/sprite.svg#icon-hero-outline-menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="container container-menu">
      <button class="btn-icon-menu js-close-menu">
        <svg class="icon-menu-close" width="32" height="32">
          <use href="/img/sprite.svg#icon-close-menu"></use>
        </svg>
      </button>
      <nav class="nav-list-menu">
        <ul class="list-nav-menu">
          <li class="item-list-menu-nav">
            <a class="link-menu-nav-anchor" href="#how-it-works"
              >How It Works</a
            >
          </li>
          <li class="item-list-menu-nav">
            <a class="link-menu-nav-anchor" href="#vegetables">Vegetables</a>
          </li>
          <li class="item-list-menu-nav">
            <a class="link-menu-nav-anchor" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <a class="link-menu-anchor-shop" href="#your-order" data-modal-open1
        >Shop now</a
      >
    </div>
  </div>
</header>
