<section class="how_it_works">
    <!-- ментор говорив не підключати контейнер загальний -->
    <div class="wrap-how-it-works">

       <div class="image">
<picture class="img-how-it-works-mob">
    <source 
    media="(min-width: 1280px )"
    srcset="/img/how-it-works-images/how-it-works-desk-img.webp 1x, /img/how-it-works-images/how-it-works-desk-img@2x.webp 2x"/>
<source 
    media="(min-width: 768px )" 
    srcset="/img/how-it-works-images/how-it-works-tab-img.webp 1x, /img/how-it-works-images/how-it-works-tab-img@2x.webp 2x"/>
<source 
media="(max-width: 768px )" 
srcset="/img/how-it-works-images/how-it-works-mob-img.webp 1x, /img/how-it-works-images/how-it-works-mob-img@2x.webp 2x"/>

<img src="/img/how-it-works-images/how-it-works-desk-img.webp" alt="woman cooking">
</picture>

   
       </div>

        <div class="instructions">
            <h2 class="title-how-it-works">To order your <span class="color-text">vegetable</span> basket, simply follow these <span class="color-text">easy steps</span></h2>
            <p class="text-how-it-works">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit
            without ever leaving your home.</p>
            <ol class="list-how-it-works">
                <li class="item-how-it-works">Just choose <span class="color-text-li" >the vegetable</span>  you want to order by clicking on the checkboxes <span class="color-text-li" >next to it.</span></li>
                <li class="item-how-it-works">Click on <span class="color-text-li" >the basket</span>  and fill out the form.</li>
                <li class="item-how-it-works">Sit back and relax! Your <span class="color-text-li" >fresh vegetables</span> basket will be delivered.</li>
            </ol>
        </div>
       
    </div>



</section>