<div class="backdrop" data-modal>
  <div class="modal">
    <p class="modal-p">Healthy eating is the key to success</p>
    <form class="modal-form">
      <div class="input-label-svg">
        <label for="user-name" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="text"
            class="modal-input"
            name="user-name"
            id="user-name"
            placeholder="Full name"
          />
        </div>
      </div>
      <div class="input-label-svg">
        <label for="user-phone" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="tel"
            class="modal-input"
            name="user-tel"
            id="user-phone"
            placeholder="Phone"
          />
        </div>
      </div>
      <div class="input-label-svg">
        <label for="user-email" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="email"
            class="modal-input"
            name="user-mail"
            id="user-email"
            placeholder="Email"
          />
        </div>
      </div>

      <div class="comment-input">
        <label for="user-comment" class="label-input"><span></span> </label>
        <textarea
          class="modal-input-comment"
          name="user-comment"
          placeholder="Comment"
          id="user-comment"
        ></textarea>
      </div>
      <div class="div-checkbox">
        <input
          id="user-privacy"
          type="checkbox"
          value="true"
          name="user-privacy"
          class="input-checkbox visually-hidden"
        />
      </div>
      <button type="button" class="send-form" data-modal-close>Send</button>
    </form>
  </div>
</div>
