<div class="backdrop" data-modal>
  <div class="modal">
    <button class="icon-button" type="button" data-modal-close>X</button>
    <p class="modal-p">Healthy eating is the key to success</p>
    <form class="modal-form" onsubmit="alert('submit!');return false">
      <div class="input-label-svg">
        <label for="user-name" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="text"
            class="modal-input"
            name="user-name"
            id="user-name"
            placeholder="Full name"
            required
          />
        </div>
      </div>
      <div class="input-label-svg">
        <label for="user-phone" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="tel"
            class="modal-input"
            name="user-tel"
            id="user-phone"
            placeholder="Phone"
            required
          />
        </div>
      </div>
      <div class="input-label-svg">
        <label for="user-email" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="email"
            class="modal-input"
            name="user-mail"
            id="user-email"
            placeholder="Email"
            required
          />
        </div>
      </div>

      <div class="comment-input">
        <label for="user-comment" class="label-input"><span></span> </label>
        <textarea
          class="modal-input-comment"
          name="user-comment"
          placeholder="Comment"
          id="user-comment"
          required
        ></textarea>
      </div>
      <button type="submit" class="send-form">Send</button>
    </form>
  </div>
</div>

<div class="backdrop" data-modal1>
  <div class="modal">
    <button class="icon-button" type="button" data-modal-close1>X</button>
    <p class="modal-p">Healthy eating is the key to success</p>
    <form class="modal-form">
      <div class="input-label-svg">
        <label for="user-name" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="text"
            class="modal-input"
            name="user-name"
            id="user-name"
            placeholder="Full name"
            required
          />
        </div>
      </div>
      <div class="input-label-svg">
        <label for="user-phone" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="tel"
            class="modal-input"
            name="user-tel"
            id="user-phone"
            placeholder="Phone"
            required
          />
        </div>
      </div>
      <div class="input-label-svg">
        <label for="user-email" class="label-input"><span></span></label>
        <div class="input-wrap">
          <input
            type="email"
            class="modal-input"
            name="user-mail"
            id="user-email"
            placeholder="Email"
            required
          />
        </div>
      </div>

      <div class="comment-input">
        <label for="user-comment" class="label-input"><span></span> </label>
        <textarea
          class="modal-input-comment"
          name="user-comment"
          placeholder="Comment"
          id="user-comment"
        ></textarea>
      </div>
      <button type="submit" class="send-form">Send</button>
    </form>
  </div>
</div>
