<section class="vegetables">
  <div class="container">
    <h2 class="vegetables-title-main">Organic vegetables</h2>
    <p class="vegetables-paragraf-main">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="vegetables-container-list">
      <li class="vegetables-item">
        <div class="vegetables-picture-description">
          <h3 class="vegetables-nickname">eggplant</h3>
          <p class="vegetables-price">60 USD / kg</p>
        </div>
        <div class="vegetables-picture">
          <img
            srcset="
              /img/vegetables-images/vegetables-eggplant-img@2x.webp 2x,
              /img/vegetables-images/vegetables-eggplant-img.webp    1x
            "
            src="/img/vegetables-images/vegetables-eggplant-img.webp"
            alt="eggplant"
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-picture-description">
          <h3 class="vegetables-nickname">leek</h3>
          <p class="vegetables-price">50 USD / kg</p>
        </div>
        <div class="vegetables-picture">
          <img
            srcset="
              /img/vegetables-images/vegetables-leek-img@2x.webp 2x,
              /img/vegetables-images/vegetables-leek-img.webp    1x
            "
            src="/img/vegetables-images/vegetables-leek-img.webp"
            alt="leek"
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-picture-description">
          <h3 class="vegetables-nickname">mushrooms</h3>
          <p class="vegetables-price">40 USD / kg</p>
        </div>
        <div class="vegetables-picture">
          <img
            srcset="
              /img/vegetables-images/vegetables-mashrooms-img@2x.webp 2x,
              /img/vegetables-images/vegetables-mashrooms-img.webp    1x
            "
            src="/img/vegetables-images/vegetables-mashrooms-img.webp"
            alt="mushrooms"
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-picture-description">
          <h3 class="vegetables-nickname">corn</h3>
          <p class="vegetables-price">60 USD / kg</p>
        </div>
        <div class="vegetables-picture">
          <img
            srcset="
              /img/vegetables-images/vegetables-corn-img@2x.webp 2x,
              /img/vegetables-images/vegetables-corn-img.webp    1x
            "
            src="/img/vegetables-images/vegetables-corn-img.webp"
            alt="corn"
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-picture-description">
          <h3 class="vegetables-nickname">sweet potatoes</h3>
          <p class="vegetables-price">50 USD / kg</p>
        </div>
        <div class="vegetables-picture">
          <img
            srcset="
              /img/vegetables-images/vegetables-sweet-potatoes-img@2x.webp 2x,
              /img/vegetables-images/vegetables-sweet-potatoes-img.webp    1x
            "
            src="/img/vegetables-images/vegetables-sweet-potatoes-img.webp"
            alt="sweet potatoes"
            width="280"
            height="244"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-picture-description">
          <h3 class="vegetables-nickname">carrot</h3>
          <p class="vegetables-price">40 USD / kg</p>
        </div>
        <div class="vegetables-picture">
          <img
            srcset="
              /img/vegetables-images/vegetables-carrot-img@2x.webp 2x,
              /img/vegetables-images/vegetables-carrot-img.webp    1x
            "
            src="/img/vegetables-images/vegetables-carrot-img.webp"
            alt="carrot"
            width="280"
            height="244"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
