<section-your-order class="your-order">
    <div class="container">
        <h2 class="title-your-order">Fresh <span class="harvest"> Harvest</span> Box has got you covered</h2>
        <p class="text-your-order"> Our boxes are packed with delicious, nutritious vegetables, perfect for
            anyone
            looking to eat healthier or support local farmers. Order your box today and start enjoying the best
            that
            nature has to offer!</p>
        <div class="soc-ntw-card">
            <picture class="card-img">
                <source srcset="
                ./img/your-order-images/your-order-mob-img.webp    1x,
                ./img/your-order-images/your-order-mob-img@2x.webp  2x
                " media=" (max-width:767px)" width="295" height="272" />
                <source srcset="
                ./img/your-order-images/your-order-tab-img.webp    1x,
                ./img/your-order-images/your-order-tab-img@2x.webp  2x
                 " media=" (min-width:768px)" width="536" height="316" />
                <source srcset="
                ./img/your-order-images/your-order-desk-img.webp 1x,
                ./img/your-order-images/your-order-desk-img@2x.webp 2x
                " media=" (min-width:1280px)" width="428" height="352" />

                <img src=" ./img/your-order-images/your-order-mob-img.webp" type="image/webp"
                    alt="Woman squeezing lemon into a blender with fruits." width="295" height="272" />
            </picture>
            <div class="card-text">
                <p class="text-your-order-card">
                    Follow us on our social networks:
                </p>
                <ul class="soc-ntw-list">
                    <li> INSTAGRAM </li>
                    /
                    <li> FACEBOOK </li>
                    /
                    <li>YOUTUBE </li>
                </ul>
            </div>

        </div>
    </div>
</section-your-order>