<section class="your-order">
  <div class="container container-your-order">
    <div class="container-title-p">
      <h2 class="title-your-order">
        Fresh <span class="harvest"> Harvest</span> Box has got you covered
      </h2>
      <p class="text-your-order">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="container-form-card">
      <div class="form-container">
        <p class="form-text">
          Ordering <span class="form-text-decoration">from us</span> is quick
          and easy! Fill out
          <span class="form-text-decoration-green">the form</span> below and we
          will contact you !
        </p>
        <form class="form-your-order">
          <div class="container-input">
            <div class="input-group">
              <input
                type="text"
                id="credentials"
                name="credentials"
                class="input-your-order"
                placeholder="Full Name"
                required
              />
            </div>
            <div class="input-group">
              <input
                type="email"
                id="email"
                name="email"
                class="input-your-order required-input-your-order"
                placeholder="Email"
                pattern="(?:[^\s@]*)[\w]{1}@{1}(?:[^\s@]+)[\.]{1}(?:[^\s@]{1,255}\w{1})"
                required
              />
              <div class="container-text-valid-invalid">
                <p class="text-invalid">Invalid email, try again</p>
                <p class="text-valid">Succes!</p>
              </div>
            </div>
            <div class="input-group">
              <textarea
                placeholder="Comment"
                name="user-comment"
                class="input-your-order textarea-input-your-order"
                id="user-comment-order"
              ></textarea>
            </div>
          </div>
          <button type="submit" class="btn-your-order">Send</button>
        </form>
      </div>

      <div class="soc-ntw-card">
        <picture class="card-img">
          <source
            srcset="
              ./img/your-order-images/your-order-mob-img.webp    1x,
              ./img/your-order-images/your-order-mob-img@2x.webp 2x
            "
            media="(max-width:767px)"
            width="295"
          />

          <source
            srcset="
              ./img/your-order-images/your-order-tab-img.webp    1x,
              ./img/your-order-images/your-order-tab-img@2x.webp 2x
            "
            media="(min-width:768px) and (max-width:1279px)"
            width="536"
          />

          <source
            srcset="
              ./img/your-order-images/your-order-desk-img.webp    1x,
              ./img/your-order-images/your-order-desk-img@2x.webp 2x
            "
            media="(min-width:1280px)"
            width="428"
            height="352"
          />

          <img
            src="./img/your-order-images/your-order-mob-img.webp"
            alt="Woman squeezing lemon into a blender with fruits."
            width="295"
            height="272"
          />
        </picture>
        <div class="card-content">
          <p class="text-your-order-card">Follow us on our social networks:</p>
          <ul class="social-links">
            <li class="social-link">
              <a
                class="social-link-order"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                >Instagram</a
              >
            </li>
            <li class="social-link">
              <a
                class="social-link-order"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                >Facebook</a
              >
            </li>
            <li class="social-link">
              <a
                class="social-link-order"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                >YouTube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
