.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000;
}
.backdrop.is-modal-open,
.backdrop.is-modal-open1 {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  transform: translate(-50%, -50%);
  width: 335px;
  min-height: 552px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border-radius: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-modal-open) .modal .backdrop:not(.is-modal-open1) .modal {
  transform: translate(-50%, -100%);
}

@media screen and (max-width:374px) {
  .modal {
    width: calc(100% - 40px);
    min-height: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 640px;
    padding: 72px 100px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 524px;
    padding: 52px 48px;
  }
}

.modal-p {
  color: rgba(20, 20, 20, 1);
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.modal-input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(133, 133, 133, 1);
  background-color: transparent;
  border-radius: 30px;
  padding-left: 16px;
  padding-right: 20px;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .modal-input {
    padding: 16px 14px;
  }
}

.modal-input::placeholder {
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(20, 20, 20, 1);
}

.modal-input-comment {
  width: 100%;
  border: 1px solid rgba(133, 133, 133, 1);
  background-color: transparent;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(20, 20, 20, 1);
  padding: 16px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-comment::placeholder {
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(20, 20, 20, 1);
}
.label-input {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(142, 143, 153, 1);
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
}
.input-wrap {
  margin-bottom: 16px;
}

.modal-input-comment:focus {
  border: 1px solid rgba(122, 49, 69, 1);
  outline: none;
}

.modal-input:focus {
  border: 1px solid rgba(122, 49, 69, 1);
  outline: none;
}
.comment-input {
  margin-bottom: 20px;
}
.send-form {
  display: block;
  min-width: 295px;
  height: 52px;
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(122, 49, 69, 1);
  border: none;
  border-radius: 30px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 374px), (min-width: 768px) {
  .send-form {
    min-width: 100%;
  }
}

.send-form:hover,
.send-form:focus {
  color: rgba(122, 49, 69, 1);
  background-color: rgba(212, 191, 196, 1);
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.icon-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 28px;
  height: 28px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 24px;
  height: 24px;
  stroke: #7a3145;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-button:hover,
.icon-button:focus {
  background: #7a3145;
  border: none;
}
.icon-button:hover .modal-close,
.icon-button:focus .modal-close {
  stroke: rgba(255, 255, 255, 1);
}
